.header {
    height: 80px;
    display: flex;
    border-bottom: 1px solid #ECECEC;
    position: relative;

    & .container {
            display: flex;
            align-items: center;
    }

    &__nav {
        display: none;

        @media screen and (min-width: 768px) {
                display: flex;
        }
    }

    &__logo {
        @media screen and (min-width: 768px) {
                margin-right: 84px;
        }
        @media screen and (min-width: 1200px) {
            margin-right: 93px;
        }
    }

    &__list {
        display: flex;
        align-self: center;
    }

    &__item {
        list-style-type: none;
        margin-right: 50px;
    }

    &__item:last-child {
        margin-right: 0;
    }

    &__link {
        padding: 28px 0;
        color: var(--main-color);
        transition: color var(--transition-data);
        position: relative;
    }

    &__link:hover, &__link:focus {
        color: var(--hover-color);
    }

    &__menu-mobile {
        display: inline-flex;
        padding: 0;
        margin: 0;
        width: 40px;
        height: 40px;
        background-color: transparent;
        z-index: 3;
        
        & .menu-close, .menu-open {
            fill: var(--main-color);
            transition: fill var(--transition-data);
        }

        &:hover .menu-open,
        &:focus .menu-open {
            fill: var(--hover-color);
        }

        &:hover .menu-close,
        &:focus .menu-close {
            fill: var(--hover-color);
        }

        @media screen and (min-width: 768px) {
                display: none;
            }

        & .menu-close {
            display: none;
        }

        &.is-open .menu-close {
            display: block;
        }

        &.is-open .menu-open {
            display: none;
        }
    }

}

.address {
    display: none;

    @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: column;
            margin-left: auto;
        }

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        margin-left: auto;
    }

    &__link {
            color: var(--secondary-color);
            display: flex;
            align-items: center;
            transition: color var(--transition-data);
    }

    &__link:not(:last-child) {
        margin-bottom: 12px;

        @media screen and (min-width: 1200px) {
                margin-bottom: 0;
                margin-right: 30px;
            }
    }

    &__link:hover, &__:focus {
        color: var(--hover-color);
    }

    &__link:hover &__icon, &__link:focus &__icon {
        fill: var(--hover-color);
    }

    &__icon {
            fill: var(--secondary-color);
            margin-right: 10px;
            transition: fill var(--transition-data);
    }
}