:root {
    --main-color: #212121;
    --secondary-color: #757575;
    --hover-color: #2196F3;
    --secondary-text-color: #FFFFFF;
    --primary-icon-color: #AFB1B8;
    --second-icon-color: rgba(255, 255, 255, 0.1);
    --background-color: #2F303A;
    --background-secondary-color: #FFFFFF;
    --background-third-color: #F5F4FA;
    --transition-data: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}